
.card{
    box-shadow: 0 1vw 2vw 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
}

a{
    text-decoration: none;
    color: gray;
    font-size:calc(15px);
}

.titulo{
    padding: 2vw;
}
.portal{
    display: flex;
    justify-content: center;
}

.imagem-avenue{
    width: 100%;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item{
    margin: 0 2vh;
}

.bib{
    text-align: center;
}